name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        run: make install-requirements
      
      - name: Run tests
        run: make run-test
        continue-on-error: true

      - name: Cancel workflow on test failure
        if: ${{ job.status != 'success' }}
        uses: stefanzweifel/git-auto-commit-action@v4.5.2
        with:
          commit_message: 'Tests failed. Cancelling workflow.'
          file_pattern: '*.md'
          branch: ${{ github.head_ref }}

      - name: Push changes
        if: ${{ job.status != 'success' }}
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          git commit -am "Tests failed. Cancelling workflow."
          git push
